<div class="card mx-auto sign-up-card p-3 my-2">
  <%= form_with model: @post do |f| %>

    <div class="mb-3 pb-3">
      <%= f.label :title, hidden: true, class: "form-label" %>
      <%= f.email_field :title, autofocus: true, autocomplete: "title", placeholder: "Title", class: "form-control" %>
    </div>

    <div class="mb-3 pb-3">
      <%= f.label :body, hidden: true, class: "form-label" %>
      <%= f.text_area :body, autofocus: true, autocomplete: "body", placeholder: "What's on your mind?", class: "form-control" %>
    </div>
    <div class="actions d-grid gap-2 pb-3">
      <%= f.submit "Create post", class: "btn btn-success" %>
    </div>
  <% end %>
</div>